* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid {
    width: 100%;
}
.container {
    width: 90%;  
    margin: auto;  
}
.row {
    display: flex;
    flex-wrap: nowrap;
}
/* Columns */
.col-12{
    width: 100%;
}
.col-11 {
    width: 91.66666666666667%;
}
.col-10 {
    width: 83.3333333%;
}
.col-9 {
    width: 75%;
}
.col-8 {
    width: 66.66666666666667%;
}
.col-7 {
    width: 58.333%;
}
.col-6{
    width: 50%;
}
.col-5{
    width: 41.66666666665%;
}
.col-4 {
    width: 33.333333%;
}
.col-3{
    width: 25%;
}
.col-2{
    width: 16.66666666666667%;
}
.col-1{
    width: 8.333%;
}

/* Median Query
@media (min-width: 576px) { ... } 
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... }
@media (min-width: 1400px) { ... }
 */